<!DOCTYPE html>
<html>

<head>
    <title>Add Profile</title>
</head>

<body>
    <h3>Profile form</h3>
    <form action="/add_data" method="POST">
        <label>id</label>
        <input type="number" name="id" placeholder="id...">
        <label>first Name</label>
        <input type="text" name="first_name" placeholder="first_name...">
        <label>Age</label>
        <input type="text" name="email" placeholder="email..">
        <button type="submit">Add</button>
    </form>
</body>

</html>